*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
     text-align: center;
    margin: 0 auto;
}

body h2 {
    padding-top: 2rem;
}

.DarkMode{
    background-color: #222222;
    color: #fff;
    
}

